@use 'sass:color';

.card {
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: 1px solid #f3f3f3;
	padding: 20px;
	// width: 220px;
	border-radius: 20px;
	// margin-bottom: 30px;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

	&:hover {
		box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
		transform: translateY(-5px);
	}
	// background: red;

	.img {
		display: flex;
		justify-content: center;

		img {
			cursor: pointer;
		}
	}

	.btn {
		span {
			height: 25px;
			width: 80px;
			display: flex;
			justify-content: space-between;
			align-items: end;

			div {
				border-radius: 50%;
				cursor: pointer;
				z-index: 1;
			}

			h3 {
				text-align: center;
				margin-bottom: 2px;
				font-size: 15px;
				flex: 1;
				color: #9B9B9B;
			}
		}

		.addCard {
			cursor: pointer;
		}
	}

	.favorite {
		position: absolute;
		cursor: pointer;
	}
	span {
		font-size: 13px;
		opacity: 0.5;
		text-transform: uppercase;
	}

	b {
		user-select: text;
		font-size: 13px;
	}

	h5 {
		user-select: text;
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 5px;
	}

	.add {
		display: flex;
		justify-content: space-between;
		align-items: end;

		div {
			display: flex;
			flex-direction: column;
		}
	}
}
