@use 'sass:color';

.backend {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.drawer {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 420px;
	height: 100%;
	right: 0;
	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	padding: 30px;
	z-index: 2;

	.items {
		overflow: auto;
		margin-bottom: 40px;
    margin-top: 20px;
    padding-right: 10px;
		flex: 1;
	}

	h2 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		margin: 0;
		
    img {
      cursor: pointer;
    }
	}
}

.cartTotalBlock {
	ul {
		margin-bottom: 30px !important;

		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;

			div {
				flex: 1;
				height: 1px;
				border-bottom: 1px dashed #dfdfdf;
				position: relative;
				top: -4px;
				margin: 0 7px;
			}
		}
	}
	.greenButton {
		position: relative;

		&:hover {
			img {
				transform: translateX(5px);
			}
		}

		img {
			position: absolute;
			right: 30px;
			top: 20px;
			transition: transform 0.15s ease-in-out;
		}
	}
}

.greenButton {
	width: 100%;
	height: 55px;
	background: #9dd558;
	border-radius: 18px;
	border: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.1s ease-in-out;

	&:hover {
		background: color.adjust(#9dd558, $lightness: 5%, $space: hsl);
	}

	&:active {
		background: color.adjust(#9dd558, $lightness: -5%, $space: hsl);
	}
}
